*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
    width: 90%;
    border: 2px solid red;
    margin: auto;
}

li {
  list-style: none;
}
ul {
  display: flex;
  gap: 2rem;
}
