*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background: dodgerblue;
  padding: 2rem 4rem;
  font-size: 2rem;
  color: white;
}
main {
  display: flex;
  flex: 1;
}
aside {
  background: palevioletred;
  color: white;
  width: 19rem;
  /* flex-shrink: 0; */
  padding: 0 0 0 4rem;
}
li {
  font-size: 1.5rem;
  list-style: none;
  margin-bottom: 1rem;
  cursor: pointer;
}
li:hover,
li:focus {
  opacity: 0.75;
}
section {
  background: blanchedalmond;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
}
footer {
  background: darkslateblue;
  color: white;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  main {
    flex-direction: column;
  }
  header {
    text-align: center;
    padding: 1.5rem;
  }
  aside {
    width: auto;
    padding: 1rem 0;
  }
  li {
    margin: 0;
    padding: 0;
  }
  ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 0;
  }
}
