*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  background: blue;
}
.dropdown-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  line-height: 3.125rem;
  cursor: pointer;
}
.nav__item {
  list-style: none;
  border: 2px solid red;
}
.nav__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
