*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 1em sans-serif;
  width: 200px;
  margin: 0 auto;
}
p * {
  display: block;
}
input[type="email"] {
  appearance: none;
  width: 100%;
  border: 1px solid#333333;
  font-family: inherit;
  font-size: 90%;
}
input:invalid {
  border-color: #990000;
  background-color: #ffdddd;
}
input:focus:invalid {
  outline: none;
}
.error {
  width: 100%;
  font-size: 80%;
  color: white;
  background-color: #990000;
  border-radius: 0 0 5px 5px;
}
.error.active {
  padding: 0.3em;
}
