*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dropdown-container {
  border: 2px solid red;
  max-width: 250px;
  margin: 40px auto;
  text-align: center;
  line-height: 50px;
  color: rgb(247, 247, 247);
  cursor: pointer;
}