*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  background: blue;
}
container {
  width: 90%;
}
.nav__item {
  list-style: none;
  border: 2px solid red;
  text-align: center;
}
.nav__link {
  text-decoration: none;
  color: white;
}
