*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  width: 90%;
  max-width: 1200px;
  border: 2px solid red;
  margin: auto;
  background: blue;
}

li {
  list-style: none;
}
ul {
  display: flex;
  justify-content: space-between;
  /* gap: 2rem; */
}
