*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  background: blue;
 
}
.nav__item {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: white;
}
