*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  background: blue;
}
nav {
  width: 90%;
  max-width: 1200px;
  /* border: 2px solid red; */
  margin: auto;
}

li {
  list-style: none;
}
ul {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.2rem;
  color: white;
}
